/*.cert
/cloudFormation/
/.direnv
/.envrc.local
/.gcroots
/*.log
/*.pid
__pycache__
/result*
/.run/
/*.skey
/*.socket
/.consistency-check-ts
/.ssh_config
/.ssh_config_bootstrap
/.ssh_key
/state-demo/
/state-demo-ng/
/.terraform*
/terraform.tf.json
/treefmt.toml
/*.txbody
/*.txsigned
/*.vkey
/workbench/
