/*.cert
/cloudFormation/
/.direnv
/.envrc.local
/.gcroots
/*.log
/*.pid
/result*
/*.skey
/*.socket
/.ssh_config
/.ssh_key
/.terraform*
/terraform.tf.json
/treefmt.toml
/*.txbody
/*.txsigned
/*.vkey
/workbench/
